section#app {
  display: flex;
  gap: 58px;

  .main-content {
    padding-top: 50px;
    width: 70vw;
    margin-left: 260px;
  }

  .sidebar {
    position: fixed;
    z-index: 2;
  }

  @media screen and (max-width: 768px) {
    gap: 0;
    .main-content {
      width: 100%;
      padding-top: 0;
    }
  }
}
